* {
    font-family: shadows into light;
    text-align: center;
    margin: 0;

}

html, body {
    height: 100%;
    position: relative;
}

h1 {
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
}

#memoryGame {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    height: calc(100% - 5rem);
    align-items: center;
}

#board {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    height: calc(100% - 8rem);
}

.memoryCard {
    transition: all 0s;
    position: relative;
    border-radius: 5px;
    flex-basis: calc(25% - 20px);
    margin: 10px;
    background-color: #ddd;
    -webkit-box-shadow: 5px 5px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 8px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 8px 0px rgba(0,0,0,0.75);

}
.memoryCard img {
    border-radius: 5px;
    max-width: 100%;
    max-height: 100%;
}
.front, .back {
    width: calc(100% - 5px);
    height: calc(100% - 5px);
    position: absolute;
    transition: transform 0.5s ease-in-out;
    border-radius: 5px;
    text-align: center;
}
.back {
    top: -5px;
    left: -5px;
    cursor: pointer;
    z-index: 0;
    transform:  translateY(0) rotateX(0);
    transition-delay: 0.5s;
    border: 5px solid transparent;
    background-image: url("./images/bg.jfif");
    background-size: 50px;
}
.front {
    top: -5px;
    left: -5px;
    transform: translateY(100%) rotateX(90deg) ;
    z-index: 1;
    background-color: red;
    border: 5px solid transparent;
    max-width: 100%;
    max-height: 100%;

}

.memoryCard[chosen=true][flipped=true] {
    background-image: none;
    transition-delay: 0.3s;
}
.memoryCard[flipped=true] .back{
    transform:  translateY(100%) rotateX(-90deg);
    z-index: 2;
    border: 5px solid transparent;
}

.memoryCard[flipped=true] .front {
    transition-delay: 0.8s;
    z-index: 2;
    transform: scale(1.3) translateY(0)  rotateX(0deg);
    border: 5px solid transparent;
}

.memoryCard[chosen=true] .back{
    border: 5px solid gold;

}

.memoryCard[success=true] .front {
    transform: scale(1);  
    border: 5px solid transparent;
    z-index: 0;
}

#menu {
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
#menu div {
    width: 33.3333%;
}
button.reset {
    color: #000000;
    cursor: pointer;
    border: none;
    background: transparent;    
    outline: 0;
    padding: 0;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    justify-content: center;
}
button.reset:hover {
    border: 1px solid gold;
    border-radius: 5px;
    width: calc(1.5rem );
    height: calc(1.5rem );
}

.reset img {
    width: 1rem;
    height: 1rem;
}

footer {
    font-size: 1rem;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #000;
}

footer a:hover {
    font-weight: 700;
}

.movesWrapper {
    text-align: right;
}

#hooray {
    display: none;
}

#hooray[isHidden=false] {
    display: block;
}
#hooray__background {
    position: absolute;
    top: 0;
    left: 0;
    background-color:#fff;
    width: 100%;
    height: 100%;
    z-index: 10;
    opacity: 0.7;
}
#hooray img{
    position: absolute;
    top: 15%;
    z-index: 11;
    left: 10%;
    width: 80%;
    height: 60%;
}

#hooray button {
    position: absolute;
    top: 80%;
    z-index: 11;
    font-size: 2rem;
    left: 10%;
    width: 80%;
    text-decoration: underline;
    cursor: pointer;
}

@media (min-width: 500px) and (max-width: 750px) {
    #board {
        width: 90%;
        height: calc(100% - 5rem);
   }    
   h1 {
       font-size: 1.5rem;
   }
   
}

@media (max-height: 450px) {
    #board {
        width: 90%;
        height: 100%;
    }
    #menu {
        display: none;
    }
 
    footer {
        display: none;
    }
}

@media (min-width: 750px)  {
    #board {
        width: 750px;
        /*height: calc(100% - 4.5rem);*/
    }
    h1 {
        font-size: 2.5rem;
        padding-bottom: 0;
    } 
    #menu {
        width: 750px;
    }
    
    #hooray img{
        left: 30%;
        width: 40%;
        
    }
    
    #hooray button {
        left: 30%;
        width: 40%;
    }
    
    
}